<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="shortcut icon" href="../../static/posts/img/ball.png" />
 <title>FootballBook</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'posts/css/style.css' %}" type="text/css" media="screen">
</head>
<body>
{% block content %}
<br>
<div>
  <h3 class="round3" style="text-align:center;">FootballBook</h3>
</div>
<hr class="my-5 text-white border-top border-white" style="width:60%;text-align:center">
<div style="text-align:center;">
  <a href="/post"><button type="button" class="btn btn-success"> ADD PLAYER</span></button></a>
</div>
<br><br>

  {% for post in object_list %}
<div class="d-flex-maker">
  <div class="smallmenu" style="width: 60%; border-radius: 15px;">
    <button type="button" id="sidebarCollapse" class="collapsible" style="border-radius: 10px;">{{ post.first_name | title }} {{ post.last_name | title}}</button>
      <div class="content">
        <div><img style=" width: 40%; height: auto; border-radius: 15px; float: left; margin-right: 20px;" src="{{ post.cover.url}}" alt="{{ post.first_name }}"></div>
        <div style="text-align: justify" class="card-text"><br>
          <a style="font-weight: bold; font-size: 30px;">{{ post.first_name | title }} {{ post.last_name | title}}  </a>
          <br><br>{{ post.description }}</div>
        <div style="text-align: center;"><br>
        <a href="{{post.id}}/edit"><button type="button" class="btn btn-info">edit</button></a>
        <a href="/{{post.id}}/delete"> <button type="button" class="btn btn-danger">delete</button></a>
      </div>
      <br>
      </div>
  </div>
</div>
<br>
  {% endfor %}
 </div>
{% endblock %}
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script> <!--Le code javascrip pour de collapse des card-->
</body>
</html>                                                         
