{% extends 'home.html' %}
{% load widget_tweaks %}

{% block content %}

<h3 class="round3" style="text-align:center;">Create Post Page</h3>
<div class="d-flex-maker">

<div class="card1" style="width: 30rem;">

<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  {% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class="form-control" %}
      {% if field.help_text %}
  <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
  </div>
  {% endfor %}
<button type="submit" class="btn btn-primary">Submit New Post</button>
<input type=button value="Previous Page" class="btn btn-info" onClick="javascript:history.go(-1);">
</form>
</div>
</div>

{% endblock %}