/*BODY*/

body{
  background-image: url("../img/backimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

/*HOME*/

.list-group {
  background-color: gray;
}
h1{
  color: red;
}


h3 {
  font-size: 60px;
  color: #eee;
  text-shadow: #E2CE74;
}

.d-flex-maker {
  display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.collapsible {
  background-color: #7f8c8d;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #34495e;
font-weight: bold;
}

.content {
  padding: 18px ;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

img {
  size: 50px;
}


/*POST*/

.card1 {
  background-color: #ecf0f1;
  padding: 20px;
}

.card-img-top {
  border-radius: 10px;
}

/*DELETE*/

.d-flex-makerdelete{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  align-items: center;
}